body {
	color: azure;
	background-color: #003459;
	font-family: 'Indie Flower';
}

.board-1 {
	position: relative;
}

.overlay {
	display: none;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}

.row {
	text-align: center;
}

.square {
	height: 100px;
	width: 100px;
	vertical-align: top;
}

.square p {
	font-size: 4em;
	text-align: center;
	vertical-align: middle;
	position: relative;
	bottom: 50px;
}

.row-1, .row-2, .row-3 {
	display: inline-block;
}

.row-1, .row-2 {
	border-bottom: 2px solid azure;
}

.col-1, .col-2 {
	border-right: 2px solid azure;
}

.winner p {
	color: #0CFF41;
}

.tie {
	display: none;
	font-size: 2em;
}

.tie p {
	margin-top: 50px;
	text-align: center;
}

.restart {
	text-align: center;
}

button {
	background-color: azure;
	margin-top: 50px;
	font-size: 1em;
	font-family: 'Indie Flower';
}

button:hover, button:focus {
	background-color: #0CFF41;
	outline: none;
}

@media only screen and (min-width: 640px) {

	.overlay {
		width: 450px;
		height: 450px;
	}

	.square {
		height: 150px;
		width: 150px;
		}

	.square p {
		font-size: 100px;
		bottom: 90px;
		}

	.tie {
		font-size: 3em;
	}	

	.tie p {
		margin-top: 20px;
	}
}